gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Никогда не публикуйте хранилище ключей подписи.
# См. https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
