<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Разрешение INTERNET нужно инструментам Flutter для связи с запущенным приложением: точек останова, горячей перезагрузки и других средств разработки. -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
